.galery {
  background-color: rgb(0, 0, 0);
  height: 100%;

  .h1galery {
    letter-spacing: 0.8rem;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 3rem;
    h1 {
      font-size: 4rem;
    }
  }
  @mixin position-center($text-align: center) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: $text-align;
  }

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh + 130px);
    background: #000;
    z-index: 10;
  }

  .loading-text {
    @include position-center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    span {
      display: inline-block;
      margin: 0 5px;
      color: #fff;
      font-family: "Quattrocento Sans", sans-serif;
      @for $i from 0 through 6 {
        &:nth-child(#{$i + 1}) {
          filter: blur(0px);
          animation: blur-text 0.5s (#{$i/5}) + s infinite linear alternate;
        }
      }
    }
  }

  @keyframes load {
    0% {
      opacity: 0.08;
      /*         font-size: 10px; */
      /* 				font-weight: 400; */
      filter: blur(5px);
      letter-spacing: 3px;
    }
    100% {
      /*         opacity: 1; */
      /*         font-size: 12px; */
      /* 				font-weight:600; */
      /* 				filter: blur(0); */
    }
  }

  .animate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    z-index: 9999;
    /* 	width: 350px; */
    /* 	font-size:26px; */
    font-family: Helvetica, sans-serif, Arial;
    animation: load 0.3s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
  }
  body,
  html {
    height: 96vh !important;
    background-color: #111;
    color: white;
  }

  .card-group {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-top: 6rem;
    .my-card {
      width: 24%;
      border-radius: 4px;
      -webkit-box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
      box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
      overflow: hidden;
      position: relative;
      cursor: pointer;
      display: inline-block;
    }

    .my-card img {
      transition: all 0.15s linear;
      position: relative;
      filter: brightness(70%);
      width: 100%;
      height: 100%;
    }

    .my-card .profile-name {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 25px;
      font-weight: bold;
      color: #fff;
      padding: 15px 20px;
      transition: all 0.15s linear;
    }

    .my-card .profile-position {
      position: absolute;
      color: rgba(255, 255, 255, 0.596);
      left: 30px;
      top: 60px;
      transition: all 0.15s linear;
    }

    .my-card .profile-overview {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(255, 255, 0, 0)
      );
      color: #fff;
      padding: 50px 0px 40px 0px;
      transition: all 0.15s linear;
    }

    .my-card .profile-overview h3 {
      font-weight: bold;
      font-size: large;
      padding-left: 25px;
    }

    .my-card .profile-overview p {
      color: rgba(255, 255, 255, 0.7);
      padding-left: 25px;
      padding-right: 25px;
    }

    .my-card:hover .profile-name {
      padding-left: 25px;
    }

    .my-card:hover .profile-position {
      left: 40px;
    }

    .my-card:hover .profile-overview {
      padding-bottom: 25px;
    }

    .my-card img:hover {
      transform: scale(1.01);
    }
  }
}
