.shade {
  min-height: 100vh !important;
  background-image: url("https://tienda-sebastian.s3.us-east-2.amazonaws.com/static/SEMINARIO.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  div {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $white;
    margin-top: -7rem;

    .whip {
      color: black;
      letter-spacing: 0.8rem;
      font-size: 4rem;
      font-weight: 500;
      text-shadow: 1px 1px #fff;
    }
    h2 {
      margin-top: -5rem;
      margin-bottom: 2rem;
      color: #887223c9;
      font-weight: 500;
      letter-spacing: 0.8rem;
    }
    h3 {
      color: $font-grey;
      margin-top: 5rem;
      margin-bottom: -2rem;
      font-weight: 500;
      letter-spacing: 0.8rem;
      text-shadow: 1px 1px #fff;
    }
    .presale {
      background-color: #000;
      color: $white;
      width: 100%;
      font-size: 1.7rem;
      padding: 3px;
      text-align: center;
      letter-spacing: 0.8rem;
      bottom: -45px;
      position: absolute;
    }
    h5 {
      color: #000;
      width: 100%;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 0.8rem;
      padding: 1rem;
      text-align: center;
      bottom: -84px;
      position: absolute;
      text-shadow: 1px 1px #fff;
    }
  }
}
