@import "./index.scss";

@font-face {
  font-family: "MyFuente";
  src: url("/DoulosSILR.ttf");
}
@font-face {
  font-family: "Gothambold";
  src: url("/GothamBold.otf");
}
@font-face {
  font-family: "GothamBold2";
  src: url("/GothamBold.ttf");
}
@font-face {
  font-family: "GothamLight";
  src: url("/GothamLight.ttf");
}
@font-face {
  font-family: "GothamMedium";
  src: url("/GothamMedium.ttf");
}
body {
  background-color: grey;
  font-family: "MyFuente", serif !important;
}
h1,
h2,
h3,
h4,
h5,
html,
a,
div,
button,
p {
  font-family: "MyFuente", serif !important;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
.ui.form {
  .ui.input {
    input {
      border: 1px solid #ccc;
      font-size: 16px;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .ui.button.submit {
    background-color: #000;
    color: white;
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
  .Card div {
    padding: 0px 71px 71px 0px;
  }
  .Pieces .caja h1 {
    font-size: 1.3rem;
  }
  .Pieces .caja .btnBook a {
    font-size: 1.3rem;
  }
  .footer .primacy img {
    width: 18%;
  }
  .seminario .caja2 .centrar h2 {
    width: 46%;
  }
  .seminario .contenedor .caja h1 {
    font-size: 2.5rem;
  }
  .seminario .contenedor .caja {
    padding: 2rem;
  }
  .seminario .contenedor .caja h2 {
    font-size: 1.3rem;
  }
  .seminario .caja2 .centrar h2 {
    font-size: 1.1rem;
  }
  .seminario .video .vhvideo {
    height: 300px;
    width: 600px;
  }
  .seminario .started a {
    font-size: 1rem;
    padding: 0.7rem 1rem;
  }
  .footer .h1 {
    margin-bottom: 3rem;
  }
  .incluido .caja1 h1 {
    font-size: 1.3rem;
  }
  .incluido .caja1 p {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .incluido .caja1 {
    padding: 4rem 10rem;
  }
  .footer .h1 h1 {
    font-size: 1.3rem !important;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  .footer .contact {
    margin-bottom: 0;
  }
  .footer .contact h1 {
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 1.3rem !important;
  }
  .footer .correo h2 {
    font-size: 1.1rem;
  }
  .incluido .caja1 h3 {
    font-size: 1.1rem !important;
  }
  .footer .copyright {
    font-size: 0.8rem !important;
  }
  .footer {
    padding: 3rem;
  }
  .incluido .caja1 h3 {
    font-size: 1.3rem !important;
  }
  .contacto .cajacontact .cajasend {
    margin-top: 1rem;
  }
  .contacto .cajacontact .cajasend .send {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    margin-bottom: 3rem;
  }
  .accordion > p {
    font-size: 1.3rem !important;
  }
  .top-bar__img img {
    width: 16rem;
  }
  .ui.menu {
    font-size: 0.8rem !important;
  }
  .z h1 {
    font-size: 1.3rem !important;
  }
  .z .btnBook a {
    font-size: 0.8rem;
  }
  .shade div h2 {
    font-size: 1.2rem !important;
  }
  .shade div .whip {
    font-size: 2.5rem !important;
  }
  .shade div h3 {
    font-size: 1.2rem !important;
  }
  .shade div .presale {
    font-size: 1.3rem !important;
  }
  .shade div h5 {
    font-size: 1.3rem !important;
  }
  .biografia .contenedor .caja h1 {
    font-size: 1.3rem !important;
  }
  .biografia .contenedor .caja .parrafo .bio h2 {
    font-size: 1.1rem;
    line-height: 16pt;
  }
  .top-bar2__img img {
    width: 16rem;
  }
  .top-bar2 .header .top-bar2__img {
    padding: 1.2rem 0 2rem 0 !important;
  }
  .top-bar2 .fixed .top-bar2__img {
    padding: 2rem 0 0.8rem 0 !important;
  }
  .Virtual {
    h3 {
      font-size: 1rem !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .hamburger-react {
    display: block !important;
  }
  .ui.container {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  .seminario .whipshade .hr1 {
    width: 42%;
  }
  .seminario .whipshade .hr2 {
    width: 42%;
  }
  .Card div {
    padding: 0px 71px 71px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  .ui.grid {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
}

@media screen and (max-width: 480px) {
}
@media screen and (max-width: 425px) {
  .top-bar2 .header .top-bar2__img {
    padding: 1rem 0 1rem 0 !important;
  }
  .top-bar2 .fixed .top-bar2__img {
    padding: 1rem 0 0.8rem 0 !important;
  }
  .contacto {
    padding-bottom: 0rem !important;
    .cajacontact {
      padding: 0rem 1rem;
    }
    .alto .cajaimg {
      padding: 1rem;
    }
  }
  .hamburger-react {
    display: block !important;
  }
  .biografia {
    background-position: 50%;
  }
  .Pieces .caja {
    padding: 2rem;
    h1 {
      font-size: 1rem;
    }
  }
  .contenedor {
    .caja {
      .whipshade {
        h1 {
          font-size: 2rem;
          white-space: normal;
          line-height: 2rem;
        }
      }
    }
  }
  .incluido {
    .ui.container {
      .caja1 {
        padding: 2rem 1rem;
        margin-bottom: 3rem;
      }
    }
  }

  .biografia .contenedor .caja {
    padding: 3rem 1rem !important;
  }
  .z h1 {
    padding: 0rem 1rem;
    font-size: 1rem !important;
  }
  .z h3 {
    font-size: 0.9rem !important;
  }
  .shade div .whip {
    font-size: 1.3rem !important;
  }
  .shade div .presale {
    font-size: 1rem !important;
  }
  .footer .correo h2 {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 320px) {
  .hamburger-react {
    display: block !important;
  }
  .whip {
    font-size: 2rem !important;
  }
}
