.Card {
  background-image: url(https://tienda-sebastian.s3.us-east-2.amazonaws.com/static/seminario/MOCKUP.jpg);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 100vh;
  div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding: 0px 175px 164px 0px;
  }
  a {
    background-color: rgb(134 134 134 / 32%);
    text-decoration: none;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-letter-spacing: 0.2rem;
    -moz-letter-spacing: 0.2rem;
    -ms-letter-spacing: 0.2rem;
    letter-spacing: 0.2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: 800;
    transition: 1s;
  }
}
