.biografia {
  background-image: url("https://tienda-sebastian.s3.us-east-2.amazonaws.com/static/BIOGRAFIA2.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  height: 200vh;

  .contenedor {
    display: flex;
    height: 200vh;
    justify-content: center;
    align-items: center;
    .caja {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(0 0 0 / 75%);
      padding: 5rem;
      .parrafo {
        display: flex;
        justify-content: center;
        .bio {
          display: flex;
          justify-content: center;
          h2 {
            text-align: justify;
            font-weight: 500;
            width: 80%;
            z-index: 2;
            height: 100%;
            color: #ffffffa1;
            font-size: 1.5rem;
            line-height: 19pt;
          }
        }
      }
      h1 {
        letter-spacing: 0.8rem;
        text-align: center;
        color: white;
        font-weight: 500;
        width: 100%;
        margin-bottom: 3rem;
        font-size: 1.7rem;
      }
    }
  }
}
