.awssld {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}
.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 575ms;
  --organic-arrow-thickness: 1px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 28px;
  --organic-arrow-color: #519c97;
  --control-button-width: 5%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #5fb7b2;
  --control-bullet-active-color: #519c97;
  --loader-bar-color: #851515;
  --loader-bar-height: 1px;
}
.z {
  z-index: 2 !important;
  color: #c1c5ca;
  margin-top: 15rem;
  font-size: 2rem;
  .btnBook {
    display: flex;
    justify-content: center;
    a {
      background-color: rgb(255 255 255 / 8%);
      text-decoration: none;
      color: white;
      display: -ms-flexbox;
      -webkit-letter-spacing: 0.2rem;
      -moz-letter-spacing: 0.2rem;
      -ms-letter-spacing: 0.2rem;
      letter-spacing: 0.2rem;
      padding: 0.3rem 1rem;
      cursor: pointer;
      font-weight: 800;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s;
      font-size: 1rem;
      font-weight: 500;
      &:hover {
        color: $white;

        background-color: rgb(0 0 0 / 32%);
      }
    }
  }
}

h1 {
  font-weight: 500;
  letter-spacing: 0.4rem;
}

h3 {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5rem;
  font-size: 1.5rem !important;
}

@media screen and (max-width: 425px) {
  .z {
    z-index: 2 !important;
    margin-top: 0rem !important;
    text-align: center;
  }
}
@media screen and (max-width: 1920px) {
  .z {
    margin-top: 15rem;
    z-index: 2 !important;
    margin-top: 15rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
    text-align: center;
    font-size: 2rem;
  }
  h1 {
    font-weight: 500;
    letter-spacing: 0.4rem;
  }
}
