.incluido {
  background-color: #0e0e0e;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  color: #fff;
  font-family: "MyFuente2";
  .caja1 {
    padding: 10rem 10rem;
    margin-bottom: 3rem;

    p {
      font-size: 1.5rem;
      text-align: justify;
      font-family: "GothamLight" !important;
      font-weight: 500;
      line-height: 32px;
    }
    h1 {
      text-align: center;
      font-weight: 500;
      margin-bottom: 3rem;
      font-family: "GothamBold" !important;
      font-size: 2rem;
      letter-spacing: 0;
    }
    h3 {
      text-align: center;
      font-weight: 500;
      margin-bottom: 3rem;
      font-family: "GothamBold" !important;
      font-size: 1.7rem;
      letter-spacing: 0;
      line-height: 2rem;
    }
  }
  .diseno {
    height: 100vh;
    video {
      right: 0;
      bottom: 0;
      width: 100%;
      opacity: 0.6;
      position: absolute;
      margin: auto;
      object-fit: cover;
      height: 100vh !important;
    }
    .acordion_diseno {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      width: 100%;
      position: absolute;
      height: 100%;
    }
  }
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 100%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgb(0 0 0 / 69%);
  color: #fff;
  cursor: pointer;
  padding: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  z-index: 1;
}
.accordion > p {
  text-align: center;
  font-size: 1.5rem !important;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: rgba(20, 20, 20, 0.384);
}

/* Style the accordion content title */
.accordion__title {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  padding: 1.5rem;
  font-family: "GothamBold" !important;
}

/* Style the accordion chevron icon */
.accordion__icon {
  transition: transform 0.6s ease;
  margin: 0;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: $background-dark;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0 18px 18px 18px;
  text-align: center;
  line-height: 1.4em;

  p {
    margin: 1px;
    font-family: "GothamLight" !important;
  }
  h5 {
    letter-spacing: 0.5rem;
    font-weight: 500;
  }
}
