.youtube {
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  background-color: black;
  text-align: center;

  video {
    right: 0;
    bottom: 0;
    width: inherit;
    opacity: 0.6;
    margin: auto;
    object-fit: cover;
    height: 100vh !important;
  }
}
