.seminario {
  background-image: url("https://tienda-sebastian.s3.us-east-2.amazonaws.com/static/FONDOPRINCIPAL.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
  height: 200vh;
  .whipshade {
    display: flex;
    .hr1 {
      margin: auto -110px auto 0px;
      width: 100%;
      z-index: 0;
    }

    .hr2 {
      margin: auto auto auto -110px;
      width: 100%;
      z-index: 0;
    }
  }

  .contenedor {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .caja {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5rem;
      h1 {
        white-space: nowrap;
        letter-spacing: 0.8rem;
        text-align: center;
        font-size: 4rem;
        color: white;
        display: flex;
        font-weight: 500;
        z-index: 1;
        width: auto;
        margin: 0;
      }
      h2 {
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.8rem;
        width: 100%;
        z-index: 2;
        color: rgb(88, 88, 88);
      }
    }
  }
  .caja2 {
    width: 100%;
    height: auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin-top: -9rem;
    .centrar {
      display: flex;
      justify-content: center;
      h2 {
        text-align: center;
        font-weight: 500;
        display: block;
        width: 35%;
        z-index: 2;
        color: #ffffffd4;
        font-size: 1.4rem;
        line-height: 2rem;
        font-family: "GothamLight" !important;
      }
    }
  }
  .video {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    .vhvideo {
      height: 400px;
      width: 800px;
    }
  }
  .started {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    a {
      background-color: rgb(134 134 134 / 32%);
      text-decoration: none;
      color: white;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      padding: 1rem 2rem;
      cursor: pointer;
      font-weight: 800;
      transition: 1s;
      font-size: 1.5rem;
      font-family: "Gothambold2" !important;
      &:hover {
        color: $white;

        background-color: rgb(0 0 0 / 32%);
      }
    }
  }
}
