.Virtual {
  height: 40vh;
  background-color: #000;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  h3 {
    font-size: 1.3rem !important;
    font-family: "GothamMedium" !important;
    line-height: 2rem;
    letter-spacing: 2px;
  }
}
