.change-email-form {
  padding: 20px 15px;
  > h4 {
    color: $font-dark;
    font-size: 20px;
    > span {
      font-weight: 100;
      font-size: 15px;
    }
  }
  > form {
    text-align: center;
    .submit {
      padding: 12px 60px;
    }
  }
}
