.menu {
  .ui.grid {
    margin: 0;
    padding-top: 5rem;
  }
  &__left,
  &__right {
    padding: 0 !important;
    display: flex !important;
    align-items: center;

    .ui.menu {
      border: 0;
      box-shadow: none;
      height: 100%;
      background: transparent;

      .icon {
        margin-right: 10px !important;
        color: $white;
      }
      .item {
        color: $font-light;
        border-radius: 0 !important;
        &:hover {
          color: $font-light;
          background-color: $background-dark-absolute;
          &:before {
            background-color: $background-dark-absolute;
          }
        }
        &.m-0 i {
          margin: 0 !important;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }
}
