.footer {
  background-color: #060606;
  padding: 7rem;
  .h1 {
    text-align: center;
    color: $white;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-size: 2rem;
    h1 {
      letter-spacing: 0;
      font-family: "GothamBold" !important;
    }
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      svg {
        fill: rgb(161, 161, 161);
      }
      svg:hover {
        transition: 1s;
        fill: #fff;
      }
    }
  }
  .contact {
    text-align: center;
    color: $white;
    margin-bottom: 5.5rem;
    margin-top: 2rem;
    h1 {
      font-size: 2rem;
      letter-spacing: 0;
      font-family: "GothamBold" !important;
    }
  }
  .correo {
    color: $white;
    text-align: center;
    word-break: break-all;
    h2 {
      font-weight: 500;
      font-size: 1.3rem;
      font-family: "GothamLight" !important;
    }
  }
  .primacy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 22%;
    }
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
  }
  .copyright {
    color: $white;
    font-weight: 500;
    text-align: center;
    font-size: 1.28571429rem;
    font-family: "GothamLight" !important;
    letter-spacing: 0;
  }
  .follow {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    h1 {
      text-align: center;
      color: $white;
    }
    .h1 {
      width: 100%;
      position: absolute;
      margin-top: -14rem;
    }
    .followIcons {
      display: flex;
      width: 85%;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          color: white;
        }
      }
    }
  }
}
