.contacto {
  height: 100%;
  background-color: #ffffff;
  padding-bottom: 2rem;
  .mt2 {
    margin-top: 2rem;
  }
  .alto {
    height: 100%;
    .alto2 {
      height: 100%;
    }
    .cajaimg {
      padding: 4rem;
      text-align: justify;
      color: #b1b1b1;
      font-size: 500;
      h2 {
        font-family: GothamLight !important;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
  .cajacontact {
    padding: 1rem 0rem 0rem 1rem;
    h1 {
      text-align: center;
      padding-bottom: 2rem;
      font-size: 2rem;
      font-family: GothamMedium !important;
      letter-spacing: 0;
    }
    .cajasend {
      text-align: center;
      margin-top: 2rem;
      .send {
        background-color: #000;
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
        color: white;
        border-radius: 5px;
        font-weight: 800;
        font-family: GothamMedium !important;
        line-height: normal;
        cursor: pointer;
        transition: 1s;
        &:hover {
          background: rgba(230, 229, 229, 0.678);
          color: #000000;
          border: 1px solid rgb(0, 0, 0);
        }
      }
    }
  }
}
