.Pieces {
  height: 100vh;
  background-image: url("https://tienda-sebastian.s3.us-east-2.amazonaws.com/static/GALERIA.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .caja {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    text-align: center;
    padding: 7rem;
    h1 {
      color: $white;
      font-weight: 500;
      font-size: 1.7rem;
      letter-spacing: 0.8rem;
    }
    .btnBook {
      display: flex;
      justify-content: center;
      a {
        background-color: rgb(255 255 255 / 8%);
        text-decoration: none;
        color: white;
        display: -ms-flexbox;
        -webkit-letter-spacing: 0.2rem;
        -moz-letter-spacing: 0.2rem;
        -ms-letter-spacing: 0.2rem;
        letter-spacing: 0.2rem;
        padding: 0.3rem 1rem;
        cursor: pointer;
        font-weight: 800;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
        font-size: 1.5rem;
        font-weight: 500;
        &:hover {
          color: $white;

          background-color: rgb(0 0 0 / 32%);
        }
      }
    }
  }
}
