.top-bar2 {
  background-color: rgb(35 35 35 / 20%);
  width: 100%;
  .ui.grid {
    margin: 0;
    padding: 0;
    .column {
      padding: 0;
    }
  }
  .hamburger-react {
    z-index: 10 !important;
    display: none;
    div {
      background: white !important;
    }
  }
  .espacios {
    letter-spacing: 3px;
  }
  .fixed {
    position: fixed !important;
    transition-duration: 1s;
    width: 100%;
    background-color: #000;
    justify-content: center;

    z-index: 10;
    .none {
      display: none !important;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0 1rem;
    }
  }
  .header {
    background-color: #000 !important;
    color: white !important;
    width: 100%;
    z-index: 10;
    transition-duration: 1s;
    a {
      color: white;
      text-decoration: none;
      padding: 0 1rem;
    }
  }

  &__img {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 1.5rem 0 2rem 0 !important;

    img {
      width: 20rem;
      padding: 8px 0 0 0 !important;
      transition: all 0.5s;
      &:hover {
        transform: translateX(-15px);
      }
    }
  }
  &__left,
  &__right {
    padding: 0 !important;
    display: flex !important;
    align-items: center;

    .ui.menu {
      border: 0;
      box-shadow: none;
      height: 100%;
      background: transparent;

      .icon {
        margin-right: 10px !important;
        color: $white;
      }
      .item {
        color: $font-light;
        border-radius: 0 !important;
        &:hover {
          color: $font-light;
          background-color: $background-dark-absolute;
          &:before {
            background-color: $background-dark-absolute;
          }
        }
        &.m-0 i {
          margin: 0 !important;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }
}

.open_menu {
  width: 100vw !important;
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0);
  height: -webkit-fill-available;
  z-index: 5 !important;
  transition: 2s;

  .active {
    transition: 2s;
    background-color: rgb(3 3 3 / 85%);
    padding: 1rem;
    height: 100vh !important;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .list {
    text-align: center;
    letter-spacing: 0.7rem;
  }
  li {
    list-style: none;
    padding: 0.6rem;
    font-family: "GothamBold2", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .close {
    color: white;
    width: 20px;
    text-align: center;
    float: right;
    font-size: 1.4rem;
    padding: 0.2rem;
    font-weight: bold;
  }
}
@media screen and (max-device-width: 679px) and (min-device-width: 480px) {
  .top-bar2__left .ui.menu,
  .top-bar2__right .ui.menu {
    display: none !important;
  }
  .open_menu {
    .list {
      padding: 10% 0 0 0;
    }
    li {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
}
@media only screen and (max-width: 768px) {
  .top-bar2__left .ui.menu,
  .top-bar2__right .ui.menu {
    display: none !important;
  }
}
@media screen and (min-device-width: 1001px) and (max-device-width: 1439px) {
  .headermenu {
    .logo {
      width: 100%;
    }
    .menu {
      width: 0;
      img {
        display: none;
      }
    }
    .menutext {
      display: block;
      width: 100%;
      li {
        list-style: none;
        padding: 1rem 1rem;
        font-weight: bold;
        font-size: 0.8rem;
        color: black;
        width: auto;
        float: left;
        text-align: right;
      }
    }
    .header {
      a {
        padding: 0 0;
      }
    }
    .fixed {
      a {
        padding: 0 0;
      }
    }
    .centrar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (min-device-width: 1440px) and (max-device-width: 1939px) {
  .headermenu {
    .logo {
      width: 100%;
    }
    .menu {
      width: 0;
      img {
        display: none;
      }
    }
    .menutext {
      display: block;
      width: 100%;
      li {
        list-style: none;
        padding: 1rem 1rem;
        font-weight: bold;
        font-size: 1rem;
        color: black;
        width: auto;
        float: left;
        text-align: right;
      }
    }
    .header {
      a {
        padding: 0 0;
      }
    }
    .fixed {
      a {
        padding: 0 0;
      }
    }
    .centrar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (min-width: 1940px) {
  .headermenu {
    .logo {
      width: 90%;
    }
    .menu {
      width: 0;
      img {
        display: none;
      }
    }
    .menutext {
      display: block;
      width: 100%;
      li {
        list-style: none;
        padding: 1rem 2rem;
        font-weight: bold;
        font-size: 1.3rem;
        color: black;
        width: auto;
        float: left;
        text-align: right;
      }
    }
    .centrar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
