.account {
  &__configuration,
  &__addresses {
    position: relative;
    padding: 10px;
    .title {
      width: max-content;
      background-color: #000;
      color: $font-light;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
    }
    .data {
      background-color: $background-light;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__addresses {
    .title {
      i {
        position: absolute;
        right: 10px;
        color: $font-dark;
      }
    }
  }
}
