.basic-layout {
  background-image: url("https://tienda-sebastian.s3.us-east-2.amazonaws.com/static/BIOGRAFIA2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  .content {
    background-color: $background-grey-light;

    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
